In [1]:
import pandas as pd
from glob import glob

In [2]:
scenario_id = "16-09-26"
scenario_path = "/media/kmdr7/Seagate/DATASETS/IoT-Traffic-Traces/"+scenario_id+"/"

In [3]:
!cd {scenario_path}zeek && sed -i '1,8d' conn.log && sed 's/ //g' -i conn.log && <<< $(cat ../../../base.log) < conn.log | sponge conn.log
!cd {scenario_path}zeek && sed -i '1,8d' flowmeter.log && sed 's/ //g' -i flowmeter.log && <<< $(cat ../../../base_zeek.log) < flowmeter.log | sponge flowmeter.log

In [4]:
conn = pd.read_csv(scenario_path + 'zeek/conn.log', sep="\t", header=0, low_memory=False)
conn.drop(conn.shape[0]-1, inplace=True)
conn = conn[["ts", "uid", "id.orig_h", "id.resp_h", "id.resp_p", "proto", "service", "conn_state", "label", "detailed-label"]]
conn.head(1)

,ts,uid,id.orig_h,id.resp_h,id.resp_p,proto,service,conn_state,label,detailed-label
0,1474812032.063268,CdnkJZ2FnfKrDS3Bfd,192.168.1.120,192.168.1.1,53.0,udp,dns,S0,NaN,NaN

In [5]:
flow = pd.read_csv(scenario_path + 'zeek/flowmeter.log', sep="\t", header=0, low_memory=False, index_col=False)
flow.drop(flow.shape[0]-1, inplace=True)
flow.drop("uid", axis=1, inplace=True)
flow.head(1)

,flow_duration,fwd_pkts_tot,bwd_pkts_tot,fwd_data_pkts_tot,bwd_data_pkts_tot,fwd_pkts_per_sec,bwd_pkts_per_sec,flow_pkts_per_sec,down_up_ratio,fwd_header_size_tot,...,active.std,idle.min,idle.max,idle.tot,idle.avg,idle.std,fwd_init_window_size,bwd_init_window_size,fwd_last_window_size,bwd_last_window_size
0,0.000000,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
dataset = pd.concat([conn, flow], axis=1)
dataset.drop(["ts", "uid", "id.orig_h", "id.resp_h", "id.resp_p", "proto", "service", "conn_state"], axis=1, inplace=True)
dataset["label"] = "Benign"
dataset["detailed-label"] = "-"
dataset.head(1)

,label,detailed-label,flow_duration,fwd_pkts_tot,bwd_pkts_tot,fwd_data_pkts_tot,bwd_data_pkts_tot,fwd_pkts_per_sec,bwd_pkts_per_sec,flow_pkts_per_sec,...,active.std,idle.min,idle.max,idle.tot,idle.avg,idle.std,fwd_init_window_size,bwd_init_window_size,fwd_last_window_size,bwd_last_window_size
0,Benign,-,0.000000,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
dataset.to_csv('/media/kmdr7/Seagate/DATASETS/Merged-IoT-Dataset/Benign/'+scenario_id+'.csv', index=False)
dataset.shape

(35149, 82)