In [1]:
import pandas as pd
from sklearn import linear_model

In [2]:
dataset = pd.read_csv("/home/kmdr7/Downloads/data_prediksi.csv", ";")

In [3]:
reg = linear_model.LinearRegression()

In [4]:
aceh = dataset[dataset["provinsi"] == "Aceh"]

In [17]:
aceh.head(5)

   data_prediksi_id provinsi   jumlah     bulan  tahun tanaman
0              2379     Aceh  2444.25   januari   2018    padi
1              2380     Aceh  1993.70  februari   2018    padi
2              2381     Aceh  1816.75     maret   2018    padi
3              2382     Aceh   506.45     april   2018    padi
4              2383     Aceh   184.50       mei   2018    padi

In [15]:
aceh.jumlah.rolling(36).mean()

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
5             NaN
6             NaN
7             NaN
8             NaN
9             NaN
10            NaN
11            NaN
397           NaN
398           NaN
399           NaN
400           NaN
401           NaN
402           NaN
403           NaN
404           NaN
405           NaN
406           NaN
407           NaN
408           NaN
792           NaN
793           NaN
794           NaN
795           NaN
796           NaN
797           NaN
798           NaN
799           NaN
800           NaN
801           NaN
802           NaN
803    932.108333
Name: jumlah, dtype: float64