In [1]:
import pandas as pd
from glob import glob

def get_csv(uri):
    csvs = []
    if "*" in uri:
        all_csv = glob(uri)
        [ csvs.append(pd.read_csv(uri)) for uri in all_csv ]
        return pd.concat(csvs)
    return pd.read_csv(uri)

scenario = "21-1"

In [2]:
labels = get_csv('/media/kmdr7/Seagate/DATASETS/IOT-23/CTU-IoT-Malware-Capture-'+scenario+'/bro/labels.csv')

In [3]:
datasets = get_csv('/media/kmdr7/Seagate/DATASETS/IOT-23/CTU-IoT-Malware-Capture-'+scenario+'/out/*')

In [4]:
labels

,Id,Field,bro field number,Data,Comparator,Label,type,connector
0,1,id.resp_h,3,66.85.157.90,eq,C&C-Torii,Malicious,-

In [5]:
datasets.head(1)

,Flow ID,Src IP,Src Port,Dst IP,Dst Port,Protocol,Timestamp,Flow Duration,Total Fwd Packet,Total Bwd packets,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,8.6.0.1-8.0.6.4-0-0-0,8.6.0.1,0,8.0.6.4,0,0,03/10/2018 08:22:33 PM,110928499,10,0,...,0,501.75,682.094507,1511.0,7.0,3.077146e+14,6.880707e+14,1.538573e+15,5008656.0,NeedManualLabel

In [6]:
malware = datasets[
    (datasets["Dst IP"] == "66.85.157.90") |
    (datasets["Src IP"] == "66.85.157.90")
]
malware.shape

(730, 84)

In [7]:
benign = datasets.drop(malware.index)
benign.shape

(2870, 84)

In [8]:
malware.to_csv("/media/kmdr7/Seagate/FP/MENTAH/Malware/"+scenario+".csv", index=False)
benign.to_csv("/media/kmdr7/Seagate/FP/MENTAH/Benign/"+scenario+".csv", index=False)